ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.NavItem {
  width: 100%;
  text-align: center;
  cursor: pointer;
  /* font-size: var(--font); */
  font-weight: bold;
  transition: color 200ms;
}
/* @media(max-width: 500px){
  .NavItem{
    font-size: 1em;
  }
} */
.NavItem:hover {
  color: var(--border-color);
}
nav {
  padding: var(--padbase);
  box-sizing: border-box;
  background: var(--bg-nav);
  color: var(--text);
}
.themeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50vmin;
  /* font-size: var(--font); */
  background: var(--bg-dropdown);
  position: absolute;
  z-index: 1;
  padding: 5vmin var(--padbase);
  border-radius: 10px;
  top: -500px;
  left: calc(50vw - 25vmin);
}
.theme {
  margin: 2vmin 0;
  cursor: pointer;
  font-size: 1.5em;
}
.theme:hover {
  color: var(--border-color);
}
.themeExpand {
  animation: showtheme 0.4s ease-out forwards;
}
.themeShrink {
  animation: hidetheme 0.4s ease-out forwards;
}
.navExpand {
  animation: shownav 0.2s ease-out forwards;
}
.navShrink {
  animation: hidenav 0.2s ease-out forwards;
}
@keyframes showtheme {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(calc(45vh + 500px));
  }
  100% {
    transform: translateY(calc(40vh + 500px));
  }
}
@keyframes hidetheme {
  0% {
    transform: translateY(calc(40vh + 500px));
  }
  50% {
    transform: translateY(calc(45vh + 500px));
  }
  100% {
    transform: translateY(calc(-50vh + 500px));
  }
}
@keyframes shownav {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes hidenav {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10vh);
  }
}
